<!--  footer.html -->


<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">



  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">####### <i>0000000000000 </i> %%%%%%%%%%%%%%</p>
        </div>
        
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by Soumya Bera
       
          </p>
        </div>
      </div>
    </div>
</footer>